/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 80%;
    width: 45%;
    top: 35%;
    left: 10%;
}

/* Optional: Makes the sample page fill the window. */
html,  body {
    height: 80%;
    margin: 0;
    padding: 0;
}

.TextBox {
    background-color: #E8B7A2;
    position: absolute;
    top: 220px;
    right: 150px;
    width: 20%;
    height: 35%;
    box-shadow: 20px 20px #e77039;
}

#Open{
    background-color: #E8B7A2;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 10%;
    height: 10%;
}

#All{
    background-color: #E8B7A2;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 10%;
    height: 10%;
}
