@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body{
    background: #A8D0DB;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.custom-field{
    /*position: relative;*/
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input{
    padding: 12px;
    width: 300px;
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid rgb(255, 255, 255);
    outline-color: #E8B7A2;
}

/*
.message{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: steelblue;
}

.success{
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/

header {
    background-color: #E8B7A2;
    top: 0px;
    left: 0px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 35px;
    margin: 0px;
    margin-left: 20px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

h3 {
    font-style: normal;
    font-size: 30px;
    margin-top: 5px;
    color: #FFFFFF;
    font-weight: 400;
}

h4 {
    font-style: none;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    width: 30%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#button {
    background-color: #E8B7A2;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}

#button:hover {
    cursor: pointer;
    background-color: #EE8355;
    box-shadow: 0px 5px 5px gray;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    min-width: auto;
    max-width: 700px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

#right {
    height: 500px;
    padding-right: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    top: 50%;
}

#right img {
    margin-right: 0px;
    padding-right: 0;
    right: 0;
    margin-top: 100px;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin: 20px 0 20px 0;
}

/* Navbar Styles */

#login-button {
    background-color: #EE8355;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

#login-button:hover {
    box-shadow: 0px 5px 5px gray;
}

/* buttons */

.button {
    background-color: #EE8355;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
}

.button:hover {
    box-shadow: 0px 5px 5px gray;
}

.login-image {
    position: relative;
}

.logincard {
    z-index: 1;
}

.login-image {
    z-index: 2;
    margin-top: -60px;
    margin-left: 500px;
}